*{
  margin: :0px;
  padding: :0px;
}
body{
  font-family:sans-serif;
  background-color:#fff;
}
.container{
  position: absolute;
  background-color: #fff;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 10px 10px rgba(20,40,80, 0.2);
}
.main{
  padding: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 30px;
  color: #777;
}
span[id=time]{
  font-size:50px;

  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
}
span[id=date]{
  font-size:15px;
  position: absolute;
  top: 55%;
  left:30%;
  transform: translate(-10%,0%);
}
